<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset="utf-8">

        <title><%= room.name %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/chatSocket.js'></script>
        <style>
            .defaultHidden {
                display: none;
            }

            .waiting-for-next-word .waiting-for-next-word-hidden {
                display: none !important;;
            }

            .waiting-for-input .waiting-for-input-hidden {
                display: none !important;
            }

            .waiting-for-start-input .waiting-for-start-input-hidden {
                display: none !important;;
            }

            .waiting-for-start-input .waiting-for-start-input {
                display: block;
            }

            .waiting-for-next-word .waiting-for-next-word {
                display: block;
            }

            .waiting-for-input .waiting-for-input {
                display: block;
            }

            #story {
                margin: 5px;
            }

            .textBubble {
                padding: 5px;
                margin: 2px;
                display: inline-block !important;
            }

            #wordChoices {
                display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
            }


            .inputBubble {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.inputBubble:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.inputBubble:active {
	position:relative;
	top:1px;
}
        

        </style>
        <script>
          var room = <%- JSON.stringify(room)  %>;
          var nextWords = <%- JSON.stringify(nextWords)  %>;
        </script>
    </head
    <body>

        <div class='container'>

            <h1 class='row'> <center> <%= room.name %> </center> </h1>
            <div class='hidden' id='roomName'><%= room.name     %></div>
            <div class='hidden' id='nickname'><%= user.nickname %></div>

            <div class='row well well-sm'>
                <div id='membersBox'>
                    Members: 
                    <% for(var m in room.members) { %>
                        <span id='<%= m %>' class='roomMember' style='color:<%= room.members[m] %>' > <%= m %> </span>
                    <% } %>
                </div>
            </div>

            <div class='row well room' style='padding: 0px'>
                <div id="story">

                </div>
            </div>            
            
            <div class='row well room' style='padding: 0px'>
                <div id='chatWrap' style='display: none'>
                    <table id='chat' class='table'>
                    </table>
                </div>
                
                <form id='chatMessageForm' class="defaultHidden waiting-for-next-word-hidden waiting-for-input-hidden waiting-for-start-input">
                    <div class="input-group">
                        <input id="chatMessageField" type="text" class="form-control" placeholder='Start the story' autocomplete='off'>
                        <span class="input-group-addon"><i class='fa fa-comments'></i></span>
                    </div>
                </form>

                <div id="wordChoices" class="defaultHidden waiting-for-next-word-hidden waiting-for-input">
                </div>

                <div id="waiting message" class="defaultHidden waiting-for-input-hidden waiting-for-start-input-hidden waiting-for-next-word">
                    waiting for OTHER USER to say something
                </div>
                
            </div>

            <div class='row'>
                    <!-- <h4 class='inline' > <span class='label label-default' style='font-weight:bold;'> <%= user.nickname %> </span> </h4> -->
    
                    <div class='inline pull-right'>
                        <a class='btn btn-default btn-sm' id='btnLeaveRoom' href=''> Leave </a>
                        <a class='btn btn-default btn-sm' href='/logout'> Log out </a>
                    </div>
                </div>

        </div>


    </body>
</html>
